alembic==1.7.7
auth==0.5.3
BareNecessities==0.2.8
bcrypt==3.2.2
blinker==1.4
certifi==2021.10.8
cffi==1.15.0
charset-normalizer==2.0.12
click==7.1.2
dnspython==2.2.1
email-validator==1.2.1
eventlet==0.33.0
falcon==3.1.0
Flask==1.1.4
Flask-Bcrypt==1.0.1
Flask-Login==0.6.1
Flask-Mail==0.9.1
Flask-Migrate==3.1.0
Flask-Reuploaded==1.2.0
Flask-Script==2.0.6
Flask-SQLAlchemy==2.5.1
Flask-Uploads==0.2.1
Flask-WTF==1.0.1
greenlet==1.1.2
gunicorn==20.1.0
idna==3.3
importlib-metadata==4.11.3
importlib-resources==5.7.1
itsdangerous==1.1.0
Jinja2==2.11.3
Mail==2.1.0
Mako==1.2.0
MarkupSafe==2.0.1
mongoengine==0.24.1
pycparser==2.21
pymongo==4.1.1
requests==2.27.1
six==1.16.0
SQLAlchemy==1.4.36
urllib3==1.26.9
Werkzeug==1.0.1
WTForms==3.0.1
zipp==3.8.0
