{% extends 'base.html' %}
{%block title%}
Registaration Page
{% endblock %}

{%block content %}
<body>
    <div class="container-fluid">
        <h3 class="text-center">Sign Up Here</h3>
        <div class="container">
            <form class="form-register" method="POST" style="color: white;">
                {{ form.hidden_tag() }}
                {{form.username.label}}
                {{form.username( class="form-control", placeholder="User Name" )}}
                {{form.email_address.label}}
                {{form.email_address(class="form-control", placeholder="Email Address" )}}
                {{form.password1.label}}
                {{form.password1(class="form-control", placeholder="Password" )}}
                {{form.password2.label}}
                {{form.password2(class="form-control", placeholder="Confirm Password" )}}
                <br>
                <div class="col text-center">
                {{form.submit(class="btn btn-primary btn-center")}}
                </div>
                <br>
                <div class="col text-center">
                 <h3>Already have an account?</h3>
                    <a class="btn btn-sn btn-success" href="#">Sign In</a>
                </div>
            </form>
        </div>
    </div>
</body>
{% endblock %}
